html {
    font-family: Inter, sans-serif;
    color: white;
    font-size: 19px;
}


body {
    display: grid;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
    padding: 1.5rem;
    margin: 0;
    /*background-color: #4A4B65;*/
}

h1 {
    font-weight: lighter;
    font-size: 2.2rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.btn {
    border: none;
    padding: 30px 30px;
    text-align: center;
    text-decoration: wavy;
    width: auto;
    margin: 1rem;
    cursor: pointer;
    transition: all 0.5s ease;
    outline: none;
    font-size: 2rem;
   
}

.maclass {
    color: #e4e1e1;
    background-color: #3e8e41;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    padding: 0.5rem;
}

/*.help { background-color: rgb(163, 163, 163); width: auto; }*/

.lightgrey {
    border-radius: 50%;
    line-height: 1;
    padding: 0 20px;
    font-size: 4rem;
    text-align: center;
    background: none;
    color: #2b2a2a;
}

.maclass:hover {
    color: whitesmoke;
    transform: scale(1.1);
}

/*cible le bouton lorsqu'il est survolé*/

.maclass:active {
    transform: translateY(4px);
    box-shadow: 0 2px #2b2a2a;
    transition: ease-in-out 0.5 ease-in;
}

/*cible le bouton quand on clique dessus*/

.card {

    padding: 1.2rem;
    height: auto;
}

.cards .h1 {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.active,
.btn:hover {
 
    transform: scale(1.1);
    /*background:-webkit-linear-gradient(0deg, #838386 0%, #1276f6 35%, #038dd0 100%);*/
    color: #0000ff;
}



.popupform>* {
   /*display: none;*/
    width: 250px;
    height: 250px;
    align-items: center;
    border-radius: 10px;
    background-color: #d1cfcf;
    padding: 15px;
    font-family: Inter, sans-serif;
    font-size: 22px;
}

input[type=submit]:first-child:hover {
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    background-color: green;
    cursor: pointer;
    transform: scale(1.1);
}

input[type=submit]:last-child {
    border-radius: 5px;
    background-color: #f44336;
}



.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    display: none;
}

@media (min-width: 600px) {
    .cards {
        grid-template-columns: (1, 1fr);
    }
}

@media (min-width: 900px) {
    .cards {
        grid-template-columns: (5, 1fr);
    }
}