body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color:#f8f8f8 ;
  }

button:active {
    transform:translateY(3px);
    color: #007bff;
}

.btn {
    border: none;
    outline: none;
    padding: 20px 28px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 25px;
    margin: 0.8rem;
    border-radius: 10px;
  }

  .active, .btn:hover {
    background-color: #666;
    color: #0000ff;
  }

  .form-container{
    width: 100%;
    display:inline-block;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    display: none; 
  
}
 .hidden {
    display: none;
 } 


  
