body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color:#f8f8f8 ;
  }

button{
    display:inline-block;
    margin: 3rem;
    padding: 1rem;
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-style: hidden;
    font-size: 20px;
    background-color:#c3cdda;
}

button:hover {
    background-color: #7c7d96;
    transform: scale(3px);
}

button:active {
    transform:translateY(4px);
}