body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color:#f8f8f8 ;
  }

button:active {
    transform:translateY(3px);
    color: #007bff;
}

.btn {
    border: none;
    outline: none;
    padding: 20px 28px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 25px;
    margin: 0.8rem;
  }

  .active, .btn:hover {
    background-color: #666;
    color: #0000ff;
  }

  .containerform{
    display: flex;
    
  }